@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.slide-bar-container {
    display: flex;
    flex-direction: column;
    background: #e8f5ff;
    width: 15%;
    height: 100%;
    position: fixed;
}

.in-panel-slide-name {
    margin-top: 24px;
    margin-bottom: 36px;
    padding-left: 24px;
}

.slide-bar-container .in-panel-slide-btn {
    width: 100%;
    height: 60px;
    padding-top: 12px;
    padding-left: 24px;
    /* transition: 0.5s; */
}

.slide-bar-container .in-panel-slide-btn:hover {
    background: #f6fbff;
    font-weight: 600;
}

.edit-btn {
    display: inline-block;
    margin-top: 6px;
    margin-right: 14px;
    border-radius: 5px;
    padding: 4px 24px;
    background: #3182CE;
    color: #ffffff;
    transition: 0.2s;
}

.edit-btn:hover {
    background: rgb(48, 137, 214);
    color: white;
}