/* EditParcel admin componnent css */

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: blueviolet;
  margin: 0 5px 0 5px;
}
.search-btn {
  background-color: #3d3b40;
}
.refresh-btn {
  background: #3d3b40;
}
.edit_btn {
  background: #6200f5;
}
.searc .formLabel {
  color: #3d3b40;
  font-weight: 800;
}
body {
  background: linear-gradient(to left, #5755fe, #6a74ff, #8b93ff);
}

.adminPanel {
  background: linear-gradient(to left, #fff7fc, #f7f7f7, #f7f7f7);
}
.adminPanel_backGround {
  background: linear-gradient(to left, #5755fe, #8b93ff);
}
.table_body {
  overflow-y: auto;
  height: 100px;
}
