/* EditParcel admin componnent css */

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7f7f7;
  margin: 0 5px 5px 5px;
  box-shadow: 0 0 0 0 #f7f7f7;
}
.search-btn {
  background-color: #3d3b40;
}
.refresh-btn {
  background: #362fd9;
}
.edit_btn {
  background: #5a3cc81a;
}
.delete-btn {
  background: #ff00001c;
}
.searc .formLabel {
  color: #3d3b40;
  font-weight: 800;
}
body {
  background: linear-gradient(to left, #5755fe, #6a74ff, #8b93ff);
}

.adminPanel {
  background: linear-gradient(to left, #fff7fc, #f7f7f7, #f7f7f7);
}
.adminPanel_backGround {
  background: linear-gradient(to left, #352fd969, #352fd97e, #352fd94f);
}
.table_body {
  overflow-y: auto;
  height: 100px;
}

Td {
  color: #31363f;
}
